.grid-container {
	display: grid;
  height:98vh;
	background-image: url(https://get.pxhere.com/photo/eyewear-sunglasses-glasses-personal-protective-equipment-Transparent-material-close-up-reflection-goggles-vision-care-photography-Material-property-still-life-photography-silver-macro-photography-glass-Eye-glass-accessory-aviator-sunglass-Tints-and-shades-1522943.jpg);
  background-size: cover;
  grid-template-columns: repeat(3, [col] 1fr);
  grid-template-rows: repeat(5, [row] 1fr);
/*   grid-auto-rows: minmax(10px, auto); */
/*   grid-auto-colomns: minmax(150px, auto); */
  grid-gap: 5px;
  align-items: center;
  justify-items: center;
}
.logo {
  grid-colomn: col 1 / col 2;
  grid-row: row 1 ;
  background-color: red;
  min-width: 170px;
}
.img{
  display: flex;
  width: 110%;
  min-height:120px;

}
.header {
    grid-column: col 2 / col 4;
  grid-row: row 1;
  width: 90%;
  height: 100%;
  min-height:100px;
  justify-self:center;
}
.header li {
 display: inline;
  border: 2px solid #000;
  border-radius:11px;
  padding: 4px;
  margin: 8px;
  background-color: white;
  float: left;
}
.header a {
  display: inline;
  text-decoration: none;
}
.main-form {
   grid-row: row 2 / row 4;
  min-width: 80%;
  min-height: 80%;
  border-radius: 5px;
  background: inherit;
  text-align: center;
  border: 1px solid #000;
  padding-top: 15px;
  margin-top:40px;
  margin-left: 30px;
  align-self:center;
}
.footer {
  grid-column: col 1 / col 4;
  grid-row: row 4 / row 6;
   justify-self:center;
  align-self:end;
}
.brand li {
  display: inline;
  margin-left: 1% ;
}
.brand img {
  display: inline;
  width:8%;
  min-width: 60px;
}

#all-rights {
    text-align: center;
}
@media (max-width: 355px)
{
  .logo {
			grid-area: logo;
		}
		.header {
			grid-area: header;
		}
		.main-form {
			grid-area: main-form;
		}
		.footer {
			grid-area: footer;
		}
  grid-container {
    display: grid;
  grid-template-areas:"logo logo"
											"main-form header"
                      "main-form header"
                      "footer footer";
  }
  .logo {
/*  width: 2fr; */
/* 	  height: 100px; */
/*     margin: 0px; */
/*   grid-colomn: col 1 / col 2;  */
   grid-row: row 1 ;
/*     align-self: center; */
}
  .main-form {

/*     width:100px;
    height: 100px;
    grid-column: */
  }
  .header {
/*     width: 50px;
    height: 100px;
    grid-row: row 2 / row 4;
    background-color:red; */
  }
  .header li {
/*  display: inline;
  padding: 1px;
  margin: 1px;
      margin-top: 0px; */
}
  .footer {
/*     min-width:100%;
        background-color:red; */
  }
  }
